$royal-blue: #0b4fbf;

.cart-entries-container {
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#actions {
  margin-bottom: 25px;
}

.price {
  float: right;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  color: $royal-blue;

  display: flex;
  align-items: center;
  justify-content: center;
}

.price-value {
  display: flex;
  align-items: center;
}


.action-button {
  border: none;
  background-color: $royal-blue;
  color: white;
  border-radius: 30px;
  margin: 10px;
  padding: 8px 18px;
  font-size: 0.95rem;
  transition: 0.2s ease-in-out;
}

.action-button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.action-button:active {
  opacity: 0.7;
}

.clear-button {
  float: right;
  padding: 10px 20px;
  font-size: 1rem;
}

.cart-entry {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  padding: 20px;
  border-radius: 20px;
  background: whitesmoke;
  align-items: center;
}

img {
  border-radius: 2rem;
  object-fit: cover;
  width: 12rem;
  height: 12rem;
  margin: 1rem;
}

.entry-details {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.product-name {
  font-size: 1.3rem;
  font-weight: bold;
  text-align: right;
  color: $royal-blue;
}

.count {
  text-align: right;
  margin-top: 5px;
  font-weight: 500;
}

.detail-button {
  margin: 5px;
  width: 38px;
  height: 38px;
  font-size: 1.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  background-color: $royal-blue;
  color: white;
  border: none;
}


.detail-button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.space {
  flex-grow: 2;
}
